* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Headercontainer {
  background: linear-gradient(to right, #e91e63, #673ab7);
}

.Headercontainer h1 {
  background: linear-gradient(to top, #ffe838, #fd57bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 500px) {
  .search {
    margin-right: 1rem;
  }
}